.scratch {
    margin-bottom: 50px;
}

.scratch h1 {
    text-align: center;
    padding-bottom: 20px;
}

.scratch img {
    width: 400px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 70px;
}


.scratch .toc {
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #502D0F;
    color: #fff;
    height: 515px;
    padding-bottom: 10px;
    margin-bottom: 100px;
}

.scratch .toc h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2;
}

.scratch .toc li {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 12px;
}

.scratch .body {
   padding: 20px;
}

.scratch .body h2 {
    margin-top: 50px;
    text-decoration: underline;
}

.scratch a {
    color: #0000FF;
}
.scratch a:visited {
    color: #800080;
}
.scratch a:hover {
    color: #f82b2b;
}

.scratch .toc a {
    color:  white;
}