.maze {
    margin-bottom: 50px;
}

.maze h1 {
    text-align: center;
    padding-bottom: 20px;
}

.maze img {
    width: 400px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
}

.body h2 {
    margin-top: 50px;
    text-decoration: underline;
}

.maze a {
    color: #0000FF;
}
.maze a:visited {
    color: #800080;
}
.maze a:hover {
    color: #f82b2b;
}

.body {
    padding: 75px;
 }