.HTML {
    margin-bottom: 50px;
}

.HTML h1 {
    text-align: center;
    padding-bottom: 20px;
}

.HTML img {
    width: 500px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 50px;
}

.HTML .toc {
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #502D0F;
    color: #fff;
    height: 515px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
.HTML .toc h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2;
}
.HTML .toc li {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 12px;
}
.HTML .toc a {
    color: #fff;
}

.HTML .body {
   padding: 20px;
}

.HTML h2#STEELS\ Standards {
    margin-top: 100px;
    text-decoration: underline;
}

.HTML .body h2 {
    margin-top: 50px;
    text-decoration: underline;
}

.HTML a {
    color: #0000FF;
}
.HTML a:visited {
    color: #800080;
}
.HTML a:hover {
    color: #f82b2b;
}