.about {
    width: 100%;
    /* height: 100vh; */
}

.about h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
    text-shadow: 3px 3px 0 rgb(200, 200, 200);
    font-size: 50px;
    padding-left: 30px;
}

.about h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
    text-shadow: 3px 3px 0 rgb(200, 200, 200);
    font-size: 50px;
    text-align: center;
    margin-top: 3rem;
}

.about p {
    font-family: "Nunito", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}


.ourTeam {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.teamMember {
    padding:10px;
}

.teamMember img {
    width:250px;
    height: 300px;
    object-fit: cover;
}

.teamMember h3 {
    font-family: "Nunito", sans-serif;
    /* margin-top: 10px; */
    font-size: 1.2rem;
    font-weight: bold;
}

.teamMember p {
    font-size:1rem;
    color: gray;
}

.ourMission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    align-items: center;
}

.ourMission img {
    width: 100%;
    height: 100%;
}

.missionText {
    text-align: left;
}

/* .missionText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
} */

.missionText img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .ourTeam {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .ourMission {
        grid-template-columns: 1fr; /* 1 column for mobile screens */
    }
    .ourTeam {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
    .missionImg {
        order: 2; /* Image appears below the text */
    }

    .missionText {
        order: 1; /* Text above the image */
    }
}

@media (max-width: 600px) {
    .ourTeam {
        grid-template-columns: 1fr; /* 1 column for mobile screens */
    }

    .teamMember img {
        width: 100%;
        max-width: 250px; /* Limit the image size */
        height: auto; /* Maintain aspect ratio */
    }
}
