.about {
    width: 100%;
    height: 100vh;
}

.about h1 {
    text-align: center;
}

.about h2 {
    padding-left: 20px;
}

.about p {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

