.feedback {
    margin: 0;
    padding: 10px;
    height: 60vh;
}

.feedback h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}

.feedback h3 {
    margin-bottom: 30px;
}

.feedback img {
    width: 100px;
    margin-bottom: 30px;
}

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feedback .button-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    margin: 0px;
    margin-bottom: 30px;
}

.feedback button {
    background: #ff9900;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.feedback button:hover {
    background-color: #ff990080;
    color: #00000085;
}