.home {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.image {
    max-width: 45%;
    margin-top: 20px;
}

.text {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(0, 0, 0) ;
    margin-top: 2rem;
}

/* Styles for the button */
.button {
    display: inline-block; /* Allows padding and margins */
    padding: 10px 20px;
    background-color: #988EAC;
    border-radius: 0.5rem;
    margin-top: .75rem;
    color: white;
    font-size: 1.2em; 
    font-weight: bold;
}

.button:hover {
    background-color: #7a6d8d; /* Darkens the button on hover */
    color: white;
}

.summaryText {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 75%;
    margin-top: .5rem;
}